<div class="col-md-8 col-xl-10 text-end d-flex justify-content-md-end justify-content-center mt-3 mt-md-0">
  <div class="action-btn show-btn">
    <a href="javascript:void(0)"
       class="btn-light-danger btn me-2 text-danger d-flex align-items-center">
      <mat-icon>delete</mat-icon>
      Delete All Row</a>
  </div>
  <a href="javascript:void(0)" id="btn-add-contact" class="btn btn-info">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="feather feather-users feather-sm fill-white me-1">
      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
      <circle cx="9" cy="7" r="4"></circle>
      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
    </svg>
    Add Contact</a>
</div>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="My Profile">

    <div class="container mt-5">
      <!-- Profile content -->
      <mat-card class="mt-3">
        <mat-card-header>
          <mat-card-title>My Profile IS SUPER</mat-card-title>
        </mat-card-header>


        <mat-card-content>
          <div class="container">
            <div class="header">
              <img class="cover-photo" src="assets/cover-photo.jpg" alt="Cover Photo">
              <img class="profile-picture" src="assets/profile-picture.jpg" alt="Profile Picture">
              <h2 class="user-name">John Doe</h2>
            </div>

            <div class="main-content">
              <mat-card class="card about">
                <mat-card-header>
                  <mat-card-title>About</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.</p>
                </mat-card-content>
              </mat-card>

              <mat-card class="card skills">
                <mat-card-header>
                  <mat-card-title>Skills</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                  </ul>
                </mat-card-content>
              </mat-card>

              <mat-card class="card contact">
                <mat-card-header>
                  <mat-card-title>Contact</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>Email: john.doe@example.com</p>
                  <p>Phone: +1 (555) 123-4567</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>


        <mat-card-actions>
          <button mat-raised-button color="primary">Save Changes</button>
        </mat-card-actions>
      </mat-card>

    </div>

  </mat-tab>
  <mat-tab label="My Tests">

    <div class="container mt-5">
      <!-- Tests content -->
      <mat-card class="mt-3">

        <mat-card-header>
          <mat-card-title>My Tests</mat-card-title>
        </mat-card-header>

        <mat-card-content>


          <div>
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 outer" *ngFor="let quiz of quizzes">
                <div class="card text-center shadow-sm mb-4">
                  <div class="imgCard">
                    <img ngSrc="{{quiz.pictureUrl.split('/')[6] + '/' + quiz.pictureUrl.split('/')[7]}}"
                         width="500"
                         height="500"
                         class="card-img-top" alt="Quiz Image"
                    >
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-primary">{{quiz.title}}</h5>
                    <p class="card-text">
                      {{quiz.description}}
                      ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ
                      ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ
                      ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Lives: <span class="livesCount text-primary">3</span> | Question Time:
                        <span
                          class="questionTime text-primary">10 seconds</span></small>
                    </p>
                    <hr>

                    <div class="d-flex centerTupich">
                      <div class="centerItems" matTooltip="lives Count">
                        <mat-icon>favorite</mat-icon>
                        <div>X{{quiz.livesCount}}</div>
                      </div>
                      <div class="centerItems" matTooltip="Time allocated on 1 question">
                        <mat-icon>schedule</mat-icon>
                        <div>{{quiz.questionTime}}</div>
                      </div>
                      <div class="centerItems" matTooltip="Accumulate time">
                        <mat-icon>more_time</mat-icon>
                        <div>{{quiz.accumulateTime}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!quizzes">Server is not working!</div>


        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>


  <mat-tab label="History of Passed Tests">
    <div class="container mt-5">

      <!-- History content -->
      <mat-card class="mt-3">
        <mat-card-header>
          <mat-card-title>History of Passed Tests</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <table [dataSource]="dataSource" mat-table>

            <ng-container matColumnDef="index">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let index = index;" mat-cell>
                {{index + 1}}
              </td>
            </ng-container>

            <ng-container matColumnDef="id">
              <th *matHeaderCellDef mat-header-cell> Id</th>
              <td *matCellDef="let user" mat-cell>
                {{user.id}}
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th *matHeaderCellDef mat-header-cell> Title</th>
              <td *matCellDef="let user" mat-cell>
                {{user.username}}
              </td>
            </ng-container>
            <ng-container matColumnDef="startTime">
              <th *matHeaderCellDef mat-header-cell> Start Time</th>
              <td *matCellDef="let user" mat-cell>
                {{user.name}}
              </td>
            </ng-container>
            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef>Score</th>
              <td mat-cell *matCellDef="let user"></td>
            </ng-container>
            <ng-container matColumnDef="operations">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td class="col-operations" mat-cell *matCellDef="let user">
              </td>
            </ng-container>
            <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
            <tr *matRowDef="let row; columns:displayedColumns;" mat-row></tr>
          </table>

        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>






