<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <h2 class="text-center mb-4">Please sign up</h2>
      <form [formGroup]="form">


        <div class="form-group">
          <label for="email">Email address</label>
          <input [class.is-invalid]="form.get('email').touched && form.get('email').invalid"
                 type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>


        <div class="form-group">
          <label for="password">Password</label>
          <input [class.is-invalid]="form.get('password').touched && form.get('password').invalid"
                 type="password" class="form-control" formControlName="password" id="password">
          <div class="invalid-feedback">
            Please provide a valid password.
          </div>
        </div>

        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input [class.is-invalid]="form.get('confirmPassword').touched && form.get('confirmPassword').invalid"
                 type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword">
          <div class="invalid-feedback">
            Passwords don't match.
          </div>
          <mat-error *ngIf="form.hasError('mismatch')">Passwords don't match</mat-error>

        </div>


        <button (click)="onSubmit()" [disabled]="form.invalid"
                type="submit" class="btn btn-primary btn-block">
          <span *ngIf="proceed"
                class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
          </span>
          Submit
        </button>

        <p class="form-footer">
          Already registered? Sign in here <a [routerLink]="['/login']">Sign up</a>
        </p>

        <p class="form-footer">
          <a [routerLink]="['/restore']">Forgot your password?</a>
        </p>

      </form>
    </div>
  </div>
</div>

