img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.quiz-card-container {
  cursor: pointer;
  padding: 10px;
}

.stat-icons {
  display: flex;
  justify-content: center;
}

.stat-item {
  display: flex;
  align-items: center;
}

.img-card {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
