<!---
<form [formGroup]="form">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="example@example.com" formControlName="email" required>
      <mat-error *ngIf="form.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('email')">
        Not a valid email
      </mat-error>
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput
             formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="form.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('password').hasError('minlength')">
        Now: {{form.get('password').value.length}}
        Min Length required: 5
      </mat-error>
    </mat-form-field>
  </div>
  <button
    (click)="onSubmit()"
    [disabled]="form.invalid || form.disabled"
    mat-raised-button color="primary">Sign in
  </button>
</form>

<div [routerLink]="['/register']">Haven't registered yet?
  Create an account right now </div>
--->


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <h2 class="text-center mb-4">Login</h2>
      <form [formGroup]="form">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="rememberMe">
          <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
        <button (click)="onSubmit()" [disabled]="form.invalid"
                type="submit" class="btn btn-primary btn-block">
          <span *ngIf="submitting"
                class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
          </span>
          Submit
        </button>

        <mat-error>
          {{form.get('error')?.value}}
        </mat-error>

        <p class="form-footer">
          Don't have an account? <a [routerLink]="['/register']">Sign up</a>
        </p>
        <p class="form-footer">
          <a [routerLink]="['/restore']">Forgot your password?</a>
        </p>

      </form>
    </div>
  </div>
</div>



